/* -----------------------------------------
Block Styling
----------------------------------------- */
/* -----------------------------------------
Gutenberg Blocks
----------------------------------------- */
$content-spacing-base: 30px !default;

.entry-content,
.entry,
.wp-block-column {
  > [class*="wp-block-"] {
    margin-bottom: $content-spacing-base;
  }
}

// Audio embed with caption
.wp-block-audio {
	margin-bottom: 1.5em;

	audio {
		width: 100%;
		margin: 0;
	}

	figcaption {
		color: inherit;
		opacity: .7;
	}
}

// Video embed with caption
.wp-block-video {
	margin-bottom: 1.5em;

	video {
		width: 100%;
		margin: 0;
	}

	figcaption {
		color: inherit;
		opacity: .7;
	}
}

/* Paragraph Block
=================================== */
.has-drop-cap:not(:focus) {
	&::first-letter {
		padding: 0 .2rem .2rem 0;
		font-size: 4rem;
		line-height: .65;
	}
}

/* Embed blocks
=================================== */
.wp-block-embed {
  iframe {
    margin: 0;
  }

  figcaption {
    color: inherit;
    opacity: .7;
  }
}

/* Image Block
=================================== */
.wp-block-image {
  figcaption {
    color: inherit;
    opacity: .7;
  }
}

/* Separator Block
=================================== */
.wp-block-separator {
  margin: $content-spacing-base 0;
}

/* Latest Comments Block
=================================== */
.wp-block-latest-comments {
  padding-left: 0;

  .wp-block-latest-comments__comment-avatar {
    padding: 0;
  }

  .wp-block-latest-comments__comment-date {
    color: inherit;
    opacity: .7;
  }
}

/* Latest Posts Block
=================================== */
.wp-block-latest-posts {
	list-style: none;
	padding: 0;

	li {
		margin-bottom: 15px;
	}

  .wp-block-latest-posts__post-date {
    color: inherit;
    opacity: .7;
  }
}

/* Gallery Block
=================================== */
.wp-block-gallery {
  li {
    &::before {
      display: none;
    }

    a {
      border: 0;
      box-shadow: none;
    }
  }
}

/* Columns Block
=================================== */
.wp-block-column {
  :last-child {
    margin-bottom: 0;
  }
}

/* Quote Block
=================================== */
.wp-block-quote {
  &.is-style-plain {
    background: none;
	font-style: normal;

    &::before,
    &::after {
      display: none;
    }
  }

  &.is-style-large {
	  padding: 0 2em;
  }
}

/* Pull Quote Block
=================================== */
.wp-block-pullquote {
  font-style: normal;
  padding: 30px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;

  &.has-text-align-left,
  &.has-text-align-right {
	  max-width: 100%;
  }

  blockquote {
	font-style: normal;
    padding: 0;
    border: 0;

	&::before {
		display: none;
	}
  }
}

/* Table Block
=================================== */
.wp-block-table {
	.has-text-align-left {
		text-align: left;
	}

	.has-text-align-center {
		text-align: center;
	}

	.has-text-align-right {
		text-align: right;
	}
}

/* Button Block
=================================== */
.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			border: 2px solid $accent-color;
			color: $accent-color;
		}
	}
}

/* -----------------------------------------
GutenBee Styles
----------------------------------------- */

/* Post Types Block
=================================== */
.entry-content {
	.wp-block-gutenbee-post-types {
		.gutenbee-post-types-item-thumb {
			img {
				border: 1px solid $border-color;
			}
		}

		.gutenbee-post-types-item-title {
			font-weight: normal;
			line-height: normal;
			font-size: 28px;
			letter-spacing: -0.01em;
			margin-bottom: 15px;
		}

		.gutenbee-post-types-item-meta {
			font-size: 16px;
		}

		.gutenbee-post-types-item-more {
			margin-top: 20px;
		}

		@include media-breakpoint-down(sm) {
			.gutenbee-row .gutenbee-post-types-item-media {
				flex-wrap: wrap;
			}
		}

		.item-product {
			.onsale {
				z-index: 10;
				position: absolute;
				left: auto;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 600;
				text-align: center;
				background-color: #F08804;
				padding: 3px 12px;
				color: #fff;
				border-radius: 3px;
			}
		}
	}
}

/* Food Menu Block
=================================== */
.wp-block-gutenbee-food-menu-item {
	.wp-block-gutenbee-heading {
		margin-bottom: 0;
	}
}

/* Testimonial Block
=================================== */
.wp-block-gutenbee-testimonial {
	&::before,
	&::after {
		display: none;
	}

	.entry-content & {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		padding: 30px 0;
	}
}

/* Heading Block
=================================== */
.wp-block-gutenbee-heading {
	&.is-style-nozama-lite-banner-heading {
		font-size: 26px;
		margin: 0;
		line-height: normal;
		letter-spacing: -.01em;
		font-weight: 600;
	}
}